In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
toy_data = pd.read_csv("C:/Users/HOU_User/OneDrive - Artra Technologies Pvt Ltd/Python_CSV/covid_toy.csv")

In [3]:
toy_data.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [21]:
toy_data['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [4]:
toy_data.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [ ]:
toy_data.iloc[:, 0:5]

    age  gender  fever   cough       city
2    42    Male  101.0    Mild      Delhi
3    31  Female   98.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
5    84  Female    NaN    Mild  Bangalore
6    14    Male  101.0  Strong  Bangalore
..  ...     ...    ...     ...        ...
95   12  Female  104.0    Mild  Bangalore
96   51  Female  101.0  Strong    Kolkata
97   20  Female  101.0    Mild  Bangalore
98    5  Female   98.0  Strong     Mumbai
99   10  Female   98.0  Strong    Kolkata

[98 rows x 5 columns]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(toy_data.drop('has_covid', axis=1), toy_data['has_covid'], test_size=0.25, random_state=42)

In [10]:
X_train

    age  gender  fever   cough       city
15   70    Male  103.0  Strong    Kolkata
40   49  Female  102.0    Mild      Delhi
96   51  Female  101.0  Strong    Kolkata
9    64  Female  101.0    Mild      Delhi
72   83  Female  101.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
60   24  Female  102.0  Strong  Bangalore
71   75  Female  104.0  Strong      Delhi
14   51    Male  104.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata

[75 rows x 5 columns]

In [11]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [12]:
si = SimpleImputer(strategy='most_frequent')
X_train_fever = si.fit_transform(X_train[['fever']])
X_test_fever = si.transform(X_test[['fever']])
X_train_fever.shape

(75, 1)

In [13]:
oe = OrdinalEncoder()
X_train_cough = oe.fit_transform(X_train[['cough']])
X_test_cough = oe.transform(X_test[['cough']])

X_train_cough.shape

(75, 1)

In [22]:
ohe = OneHotEncoder(drop='first', sparse_output=False)
X_train_city = ohe.fit_transform(X_train[['city']])
X_test_city = ohe.transform(X_test[['city']])
X_train_gender = ohe.fit_transform(X_train[['gender']])
X_test_gender = ohe.transform(X_test[['gender']])

In [24]:
np.hstack((X_train_fever, X_train_cough, X_train_city, X_train_gender)).shape

(75, 6)

### All this steps can be done in single step with column transfomer

In [25]:
from sklearn.compose import ColumnTransformer

In [26]:
transformer = ColumnTransformer(transformers = [
    ('tnf1', SimpleImputer(), ['fever'])
    ,('tnf2', OrdinalEncoder(categories=[['Mild','Strong']]), ['cough'])
    ,('tnf3', OneHotEncoder(drop='first', sparse_output=False), ['gender', 'city'])
], remainder = 'passthrough')

In [27]:

transformer.fit_transform(X_train).shape

(75, 7)

In [28]:

transformer.transform(X_test).shape

(25, 7)